[user]
    name = Thomas Charron
    email = thomas.charron@bitsighttech.com
[push]
    default = matching
[alias]
  lg = log --pretty=format:'%Cblue%h%Creset %cI - %Cgreen[%an]%Creset %s %d' --decorate -25
[core]
    editor = vim
